<div class="container">
    <button type="button" class="btn btn-success" routerLink="">Back</button>
    <marquee behavior="scroll" direction="left">
        <h1 class="marquee-text">This Is Action Movies Page</h1>
    </marquee>
    
    <div class="row">
        <div class="col">
            <img src='assets/image/gg.jpg' alt="action" class="img-fluid" >

        </div>
        <div class="col">
            <img src='assets/image/13ge.jpg' alt="action" class="img-fluid" >

        </div>
        <div class="col">
            <img src='assets/image/download.jpeg' alt="action" class="img-fluid" >

        </div>
        <div class="col">
            <img src='assets/image/mm.webp' alt="action" class="img-fluid" >

        </div>
    </div>
        
        
    
</div>
