<div class="container">

<form [formGroup]="movieTicketForm" >
    <h2>Movie Ticket Booking Form</h2>
  
    <div>
      <label for="fullName">Full Name:</label>
      <input type="text" id="fullName" formControlName="fullName">
    </div>
  
    <div>
      <label for="email">Email Address:</label>
      <input type="email" id="email" formControlName="email">
    </div>
  
    <div>
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber" formControlName="phoneNumber">
    </div>
  
    <div>
      <label for="movieTitle">Movie Title:</label>
      <input type="text" id="movieTitle" formControlName="movieTitle">
    </div>
  
    <div>
      <label for="dateOfMovie">Date of the Movie:</label>
      <input type="date" id="dateOfMovie" formControlName="dateOfMovie">
    </div>
  
    <div>
      <label for="timeOfMovie">Time of the Movie:</label>
      <input type="time" id="timeOfMovie" formControlName="timeOfMovie">
    </div>
  
    <div>
      <label for="numberOfTickets">Number of Tickets:</label>
      <input type="number" id="numberOfTickets" formControlName="numberOfTickets">
    </div>
  
    <div>
      <label for="seatPreference">Seat Preference:</label>
      <input type="text" id="seatPreference" formControlName="seatPreference">
    </div>
  
    <div>
      <label for="paymentMethod">Payment Method:</label>
      <select id="paymentMethod" formControlName="paymentMethod">
        <option value="cash">Cash</option>
        <option value="creditCard">Credit/Debit Card</option>
      </select>
    </div>
  
    <div>
      <label for="totalAmountDue">Total Amount Due:</label>
      <input type="text" id="totalAmountDue" formControlName="totalAmountDue">
    </div>
  
    <button type="submit" onclick="onSubmit()" [disabled]="!movieTicketForm.invalid">Submit</button>
  </form>
  
</div>
